.pads button{
    /*background-color: lightgray;*/
    height:280px;
    width:280px;
    margin:1px;
    border-radius:20%;
}

.jumbotron {
height:100px;

}

.jumbotron h1 {
margin: auto;
line-height: 10px;
vertical-align: middle;

}

#startbtn{
}

.b1 {
    background-color: #008CBA;
}

.b2 {
    background-color: #f44336;
}

.b3 {
    background-color: #5C45F4;}


.b4 {
    background-color: #FFFF00;
}

