.pads button{
    /*background-color: lightgray;*/
    height:150px;
    width:150px;
    margin:1px;
    border-radius:20%;
}

.jumbotron {
height:100px;

}

.jumbotron h1 {
margin: auto;
line-height: 10px;
vertical-align: middle;

}



.b1 {
    background-color: #008CBA;
}

.b2 {
    background-color: #f44336;
}

.b3 {
    background-color: #000000;
}


.b4 {
    background-color: #FFFF00;
}

.b5 {
    background-color: #808080;
}

.b6 {
    background-color: #5C45F4;
}

.b7 {
    background-color: #FFC0CB;
}

.b8 {
    background-color: #FFA500;
}

.b9 {
    background-color: #800000;
}
